{% extends "stinfo/base.html" %}

{% block content %}
    <body>

        <div class = "container" id = "centered">
        	<h1>Enrollment</h1>
            <h3>Select a student and a course.</h3>
			<br/>
			<p>Press the "Log Data" button to save the values. A log of all values is printed below.</p>
			<p><b>NOTE: </b>A student is not allowed to be registered in more than 3 classes.</p>
        </div>

		<br/>

		<div class = "container">
			<div class = "container">
				<div class = "row">
					<div class = "col-md-6">
						<select class = "form-control form-control-lg" id = "studentId">
							<option selected = "">Select a student</option>
							{% for data in stdata %}
								<option value  = "{{ data.studentId }}"> {{ data.studentId }}: {{ data.last }}, {{ data.first }}</option>
							{% endfor %}
						</select>
					</div>
					<div class = "col-md-6">
						<select class = "form-control form-control-lg" id = "courseTitle">
							<option selected = "" >Select a course</option>
							{% for data in crdata %}
								<option value  = "{{ data.title }}">{{ data.title }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<br/><br/>

				<div class = "logbutton">
					<button class = "btn btn-sm btn-dark" id = "enroll">Log Data</button>
				</div>
			</div>
		</div>

		<br/><br/>

		<div class = "container">
			<table class = "table table-info table-striped">
				<thead>
					<tr>
						<th>Student ID</th>
						<th>Course Title</th>
					</tr>
				</thead>
				<tbody>
					{% for row in stenroll %}
						<tr>
							<td>{{ row.studentId }}</td>
							<td>{{ row.courseTitle }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class = "container">
			<div class = "pagination">
				<span class = "step-links">
					{% if stedata.has_previous %}
						<a href = "?page=1">&laquo; First</a>
						<a href = "?page={{ stedata.previous_page_number }}">Previous</a>
					{% endif %}
					<span class = "current">
						Page {{ stedata.number }} of {{ stedata.paginator.num_pages }}
					</span>
					{% if stedata.has_next %}
						<a href = "?page={{ stedata.next_page_number }}">Next</a>
						<a href = "?page={{ stedata.paginator.num_pages }}">Last &raquo</a>
					{% endif %}
				</span>
			</div>
		</div>

		<script>

			$(document).ready(function(){

				$('#enroll').click(function(){

					$.ajax({

						url: '{% url 'saveenrollment' %}',
						data: {

							studentId2: $('#studentId').val(),
							courseTitle2:$('#courseTitle').val(),

						},
						success: function(){

							alert("Data logged. If the submission met the parameters, it will appear below.")
							window.location = "{% url 'studentenrollment' %}"

						},

					});

				});

				$('#studentId').change(function(){

					$.ajax({

						url: '{% url 'saveenrollment' %}',
						data: {

							studentId2: $('#studentId').val()

						},
						success: function(){

							window.location = "{% url 'studentenrollment' %}"

						},

					});

				});

			});


		</script>

    </body>

{% endblock %}
